/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: primary;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2F3037;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-txt-color-2 pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-txt-color-2 max-sm:rounded-full;
  }
  
  /* Tus estilos personalizados aquí */

  .toolcard {
    @apply flex flex-col w-[250px] h-[150px] items-start justify-between p-[15px] relative bg-secondary rounded-[5px] overflow-hidden transition-transform transform hover:scale-105;
  }

  .toolcard img {
    @apply relative w-[50px] h-[50px];
  }

  .toolcard h2 {
    @apply relative w-fit [font-family:'Inter-Bold',Helvetica] font-bold text-txt-color text-base text-center tracking-[0] leading-[normal] whitespace-nowrap;
  }

  .toolcard > p {
    @apply relative self-stretch h-[33px] [font-family:'Inter-Regular',Helvetica] font-normal text-txt-color-2 text-xs tracking-[0] leading-[normal];
  }

  .btn {
    @apply flex w-[295px] h-[72px] items-center justify-center gap-[10px] p-[5px] relative bg-alternative rounded-[5px] box-border;
  }
  
  .btn-text {
    @apply relative w-fit [font-family:'Inter-Bold',Helvetica] font-bold text-txt-color text-[20px] text-center tracking-[0] leading-[normal] whitespace-nowrap;
  }
  
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-txt-color-2 text-lg leading-7;
  }

  /* Más estilos personalizados aquí */
  .hover-button:hover {
    background-color: #9b0b0b; /* Cambia esto a tu elección */
    color: #333; /* Cambia esto a tu elección */
  }
}
